body {
  background: #6592cf;
}
div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 20px solid #060f55;
  position: absolute;
  top: 40px;
  left: 40px;
  box-shadow: 200px 0 0 -20px #6592cf, 200px 0 #060f55;
}
div:after {
  content: "";
  width: 120px;
  height: 80px;
  border-radius: 0 0 80px 80px;
  background: #6592cf;
  position: absolute;
  top: 40px;
  left: -20px;
  box-shadow: 200px 0 #6592cf;
}
div:before {
  content: "";
  width: 80px;
  height: 40px;
  border-radius: 0 0 80px 80px;
  border: 20px solid #060f55;
  border-top: 0px;
  position: absolute;
  top: 140px;
  left: 80px;
}
